nes_py (microsoft visual studio C++ 14.0 required)
gym_super_mario_bros==7.3.0
matplotlib
stable_baseline3
pytorch (pip install torch==1.10.1+cu102 torchvision==0.11.2+cu102 torchaudio==0.10.1 -f https://download.pytorch.org/whl/cu102/torch_stable.html)